// Variables
$primary: #FFEC8B;
$secondary: #B8860B;
$body-bg: #dfdfdf;
$body-color: #202020;
$border-color: #dfdfdf;
$light: $body-bg;
$dark: $body-color;
$font-family: 'Roboto Condensed', sans-serif;

// Global font settings
* {
  font-family: $font-family;
}

*:focus {
  box-shadow: none !important;
}

$h1-font-size: 4.5rem;
$h2-font-size: 4rem; 
$h3-font-size: 3rem; 
$h4-font-size: 2rem; 
$h5-font-size: 1.5rem; 
$h6-font-size: 1.25rem; 

// Layout Styles
.view-navbar {
  margin-top: 75px;
}

.view-sidebar {
  margin-left: 200px;
}

.sidebar {
  min-width: 125px;
  max-width: 200px;
}

.navbar {
  min-height: 75px;
  max-height: 100px;
}

// Border Widths in Pixels
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);



@import '../../node_modules/bootstrap/scss/bootstrap.scss';


@each $bw, $width in $border-widths {
  .bw-#{$bw} {
    border-width: $width;
  }
}

/* Reduce the width of the input outline */
input:focus {
  outline-width: 1px; // You can adjust this value to your desired width
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  background-color: $body-color; // Set the background color
}

::-webkit-scrollbar-thumb {
  background-color: $primary; // Set the thumb color
  border-radius: 6px;
}

/* Optional: Scrollbar Track on Hover */
::-webkit-scrollbar:hover {
  background-color: $body-color; // Set the hover background color
}

/* Optional: Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: lighten($primary, 10%); // Lighten the thumb color on hover
}
