.navbar-logo-link img{
    width: 150px;
    height: 30px;
}

/* Target the Link component when it's a child of an li element */
li .react-scroll-link {
    cursor: pointer;
}

/* Additional style for the hand pointer when hovering */
.nav-link {
    cursor: pointer;
}

