/* Team Section */
.team-section {
    background-image: url('../../assets/img/home/team-section-background.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

/* Team Section Content */
.team-section-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    gap: 50px;
    text-align: center;
}

/* Team Section Profiles */
.team-section-profiles {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

/* Team Section Profile Card */
.team-section-profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.team-section-profile-card img {
    max-width: 100px;
    max-height: 100px;
}