h1{
  color: rgb(54, 54, 54);
  margin: 20px 10px;
}

h2{
  color: rgb(54, 54, 54);
}

a{
  color: #DBB824;
}

.activity-box{
  width: 100%;
}

.search_bar{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.search_bar input{
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
}
.search_bar input:focus{
  border: 1px solid blueviolet;
}
.search_bar select{
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  margin-left: 2rem;
}
.search_bar .filter{
  width: 300px;
}

.tags_bar{
  width: 55%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.tag{
  background: #fff;
  color: rgb(54, 54, 54);
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  margin-right: 20px;
}
.tag i{
  margin-right: 0.7rem;
}
.row{
  display: flex;
  padding: 10px;
  margin-top: 1.3rem;
  justify-content: space-between;
}
.row p{
  color: rgb(54, 54, 54);
  font-size: 15px;
}
.activity-row-card {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    background: #ededed;
    margin-bottom: 15px;
    justify-content: space-between;
    border: 2px solid rgb(190, 190, 190);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  }
  
  .activity-row-details {
    display: flex;
  }
  
  .activity-row-details .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .activity-row-details .img i {
    width: 70px;
    font-size: 3rem;
    margin-left: 1rem;
    padding: 10px;
    color: #DBB824;
  }
  
  .activity-row-details .text {
    margin-left: 2.3rem;
  }
  
  .activity-row-details .text span {
    color: rgb(54, 54, 54);
  }
  
  .activity-row-link {
    text-align: right;
    color: rgb(54, 54, 54);
  }
  
  .activity-row-card:active {
    border: 2px solid #DBB824;
    transition: 0.4s;
  }