body {
  background-color: #DFDFDF;
  color: #202020;
  font-family: 'Roboto Condensed', sans-serif;
}

input::placeholder,
textarea::placeholder,
textarea, input {
    font-family: 'Roboto Condensed', sans-serif; /* Replace 'Your Desired Font' with the actual font name */
}

/* Style for text on a black background with contrasting colors */
.contrast {
  background-color: #202020;
  color: #DFDFDF;
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

.body-small {
  font-size: 12px;
}

.body-medium {
  font-size: 14px;
}

.body-large {
  font-size: 16px;
}

label {
  font-size: 16px;
  font-weight: 700;
}