.nav-bar {
    position: fixed; /* Set the position to fixed */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 100; /* Ensure it appears above other elements */
    background: #202020;
    height: 100px;
    display: flex;
    justify-content: center;
}
  
/* Styling for the nav-bar content */
.nav-bar-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Styling for the nav-bar menu */
.nav-bar-menu {
    display: flex;
    padding: 20px 0px;
    gap: 50px;
}

/* Styling for the nav-bar links */
.nav-bar-link {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Styling for the nav-bar buttons */
.nav-bar-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
  
a {
    text-decoration: none;
}

a:hover, a.active {
    text-decoration: underline;
    color: #DFDFDF;
    font-weight: 700;
}